:root {
  --main-background-color: #E5EEFA;
  --main-black-color: #171b21;
  --main-secondBackground-color:#dbe6f4;

}
* {
  font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: var(--main-background-color);
    overflow-x: hidden;
  }

  
  /* .inactive {
    display: none !important;
  } */
  
                                    /* Navbar */

header {
    padding-top: .5rem;
    display: flex;
    position: relative;
    height: 4rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.navbar {
  height:6rem ;
}

.navbar ul {
  padding: 0;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  height:6rem ;
}

.navbar ul li a {
  font-family: helvetica, arial;
  text-decoration: none;
  color: inherit;
  color: rgb(198, 198, 205);
  font-size: 1.2rem;
  
}

.navbar ul li {
  list-style-type: none;
  padding: 1rem;
  border: .1rem solid rgb(198, 198, 205);
  position: relative;
  border-radius: 5%;
}

  
                                                /* Settings mobile*/
.button-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-mobile {
    position:absolute;
    background-color:var(--main-black-color);
    width: 50%;
    border-radius:2rem;
    animation: fadeIn 200ms linear forwards;
    height: 6rem;
}

@keyframes fadeIn {
  from {
    top: 0;
  } to {
    top: 5rem;
  }
}

.settings-mobile.inactive {
  animation: fadeOut 150ms linear forwards;
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
  } 100% {
    opacity: 0;
    transform: translateY(-6rem);
  }
}

.toggle-options {
  /* position: absolute; */
  display: flex;
  justify-content: center;
}

.toggle-options label:first-child {
  margin-right: 3rem;
}

.toggle-options label:last-child {
  margin-left: 3rem;
}

.button-settings {
  cursor: pointer;
  position: relative;
  margin-left: 10rem;
  width: 4rem;
  height: 4rem;
  transform: scale(1.2);
}

ion-icon {
  font-size: 4rem;
}
                                                /* Inicio */
        
  #inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }                                              

  .inicio-tittle-container{
  }

  #inicio h1 {
    margin-top: 3rem;
    font-size: 6rem;
    color: var(--main-red-color);
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    margin-bottom: 0;
  }

  .inicio-tittle-name {
    font-size: 6rem;
    color: var(--main-red-color);
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    margin-top: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: levitate 2s infinite alternate ease-in-out;
    margin-bottom: 3rem;
  }

  @keyframes levitate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1rem);
    }
  }


  .inicio-tittle-container.up{
    animation: tittleMoveUp 200ms linear forwards;
  }

  @keyframes tittleMoveUp {
    0% {
      transform: translateY(6rem);
    }
    30% {
      transform: translateY(4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .inicio-tittle-container.inactive {
    animation: tittleMoveDown 190ms linear forwards;
  }
  

  @keyframes tittleMoveDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(4rem);
    }
    100% {
      transform: translateY(6rem);
    }
  }

  #inicio p {
    padding-right: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    font-size: xx-large;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    animation: fluido 4s ease-in-out alternate infinite;
    background: linear-gradient(-45deg, #23d5ab, #23a6d5, #000000,#000000);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

  .profile-picture {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: relative;
  }


  #inicio aside {
   display:flex;
   flex-direction: row-reverse;
   margin-bottom: 2rem;
   align-items: baseline;
  }
  
                                              /*Sobre mi*/
  #sobre-mi {
    background-color: var(--main-secondBackground-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    padding-top: 0rem;
    height: 70rem;
  }

  #sobre-mi h2{
    font-size: 5rem;
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    margin-top: 2rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: levitate 2s infinite alternate;
    text-align: center;
  }

  .formContainer {
    width: 33rem;
    height: 5rem;
    background-color: var(--main-secondBackground-color);
    display: flex;
    align-items: center;
  }

  .bio-options-form {
    text-align: center;
    width: 100%;
    border: none;
  }

  .legend-tittle {
    text-align: center;
    color: var(--main-black-color);
    font-family: 'Rubik', sans-serif;
    font-weight:900;  
    width: 100%;  
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .bio-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bio-input-action {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .bio-input-action input {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }


  .bio-input-action label span {
    font-family: 'Dosis', sans-serif;
    color: var(--main-black-color);
    font-size: 1.8rem;
  }

  .parrafoMultiple-container {
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 60rem;
    border: 1px solid var(--main-secondBackground-color) ;
    border-radius: 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
  
  .parrafo-multiple {
    padding-left: 2rem;
    text-align: left;
    font-family: 'rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
  }

                                                        /* Proyects */
 #proyectos{
    margin-top: 25rem;
 }
 .tittle-proyects {
  font-size: 5rem;
  font-family: 'Rubik', sans-serif;
  font-weight:900;
  margin-top: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: levitate 2s infinite alternate;
  text-align: center;
 }

 .proyect-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 0;
  align-items: center;
 }

 ion-icon.proyect-left-arrow{
  font-size: 5rem; 
  border: 1px solid black;
  border-radius: 50%;
  animation: transitionArrowLeft 2s alternate infinite;
  cursor: pointer;
 }



 .proyect-right-arrow{
  font-size: 5rem; 
  border: 1px solid black;
  border-radius: 50%;
  animation: transitionArrowRight 2s alternate infinite;
  cursor: pointer;
 }
 

@keyframes transitionArrowRight {
  0% {
    transform: scale(1);
    box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, 0.2);
    
  }
  100% {
    transform: scale(1.1);
    box-shadow: .2rem .3rem .4rem .2rem rgba(38, 36, 36, 0.4);
  }
}


@keyframes transitionArrowLeft {
  0% {
    transform: scale(1);
    box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, 0.2);
    
  }
  100% {
    transform: scale(1.1);
    box-shadow: -.2rem .4rem .4rem .2rem rgba(38, 36, 36, 0.4);
  }
}
 
 .proyect-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  overflow-x: hidden;
 }

.proyect-counter {
  font-size: 5rem;
  font-family: 'Rubik', sans-serif;
  font-weight:700;
  margin-top: 0;
  background: linear-gradient(-45deg, #bc321a, #e3640e, #a7401e, #000000);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: fluido 5s ease-in-out alternate infinite;
  margin-bottom: 0;
}

 .card-container {
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    position: relative;
    transition: transform .5s ease-in-out; 
}

.card-container.hidden{
  display: none;}

.card-appear {
  animation: slideIn .5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

 .proyectInfo-container {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 0 0rem;
 }

 .proyectInfo-container h3 {
  font-size: 3.5rem;
 }

figure {
}

 #proyectos img {
    height: 18rem;
    max-width: 100%;
 }

                                                    
                                                    /* Contact Area  */

 #contacto {
    height: 50rem;
    margin-top: 6rem;
    margin-bottom: 2.2rem;
    background-color: var(--main-secondBackground-color);
 }

 #contacto h2 {
  padding-top: 10rem;
  font-family: 'Rubik', sans-serif;
  font-weight:900;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: levitate 2s infinite alternate ease-in-out;
  text-align: center;
  font-size: 5rem;
 }

 .principal-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .container-platforms{
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-left: 0;
}
.container-platforms li {
  width: 3rem;
  height: 3rem;
  list-style-type: none;
  padding:0 2rem;
}

.logo-contact {
  animation: levitate 2s infinite alternate ease-in-out;
}

.anchor-contact {
  position: relative;
  border-radius: 50%;
  animation: efectoContact 2s infinite alternate ease-in-out;
  width: 3rem;
  height: 1rem;
  text-decoration: none;
  color: inherit;
}

.animated-text-container {
  height: 14rem;
  font-family: 'dosis', Arial;
  
}
.animated-text {
  font-weight: 700;
  font-size: 2.5rem;
}
@keyframes efectoContact{
  0%{
      box-shadow: 0 0 0 0 #000000;
  }
  100%{
      box-shadow: 0 0 0 .5rem rgba(0, 0, 0, 0);
  }
}
                    /* theme-switch */

.theme-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.theme-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.theme-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.theme-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* lenguage-switch */

.lenguage-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.lenguage-switch input {
  display: none;
}

.slider-lenguage {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider-lenguage .circle-lenguage {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider-lenguage .circle-lenguage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.lenguage-switch input:checked+.slider-lenguage .circle-lenguage {
  left: calc(100% - var(--circle-diameter));
}

.lenguage-switch input:active+.slider-lenguage .circle-lenguage::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}